body {
    margin: 100px;
    background: #e16124;
    font-family: 'Montserrat', sans-serif;
}

/* card */
.card {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    perspective: 1400px;
    left: 0;
    transition: all 1s;
    z-index: 2;
}

/* left card */
.left-card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 5px 0px 5px rgba(0,0,0,0.1);
    z-index: 2; 
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: 0 0;
}

img {
    position: relative;
    z-index: 0; 
    width: 100%;
    height: 100%;
}

video {
    position: relative;
    z-index: 0; 
    width: 100%;
    height: 100%;
}

#arrow {
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    right: 2.5%; 
    top: 50%;
    transform: translate(0, -50%);
    animation: arrowAnimation 2s infinite alternate; 
}

@keyframes arrowAnimation {
    from {
        transform: translate(-5px, -50%);
    }
    to {
        transform: translate(15px, -50%); 
    }
}

.left-card .card-front,
.left-card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    /* hid elements which are flipped 180 deg */
}

.left-card .card-back {
    background: #f4f4f4;
    transform: rotateY(180deg);
}

/* open card */
.card.open .left-card {
    transform: rotateY(-180deg);
}

.card.open {
    left: 150px;
}

/* right card */
.right-card {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    color: #444;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; 
    /* overwriting the default stacking order with z-index */

    /* positioning the internal text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-card img {
    max-width: 100%;
    object-fit: cover; 
}

/* Media Query for Mobile */
@media (max-width: 600px) {
    body {
        margin: 20px; 
    }

    .card {
        width: 100%; 
    }

    .right-card {
        /* height: 100%; */
        display: none;
        background: #5c141e;
        box-shadow: none;
    }

    .left-card {
        /* width: 100%; Make left card full width on mobile */
        cursor: pointer;
        box-shadow: none;
    }

    .left-card .card-back {
        display: none;
    }

    /* Show right card when the show-right-card class is present */
    .card.show-right-card .right-card {
        display: flex;
        opacity: 1;
        transition: opacity 2s;
    }

    .card.show-right-card .left-card {
        opacity: 0;
        pointer-events: none; 
        transition: opacity 2s;
    }
}
